* {
    /* configurações para a pagina toda */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth; 
    list-style-type: none;
}

:root {
    /* variaveis globais no css */
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: darkorange;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    /* configuracoes para o body somente */
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    /* configuracao padrao para todas as sessoes */
    padding: 160px 15% 120px;
}

.home {
    /* estilo da section home */
    position: relative;
    height: 100vh;
    width: 100%;
    background-image:
    linear-gradient(to bottom, #0F2027, rgba(32, 58, 67, 0.1)),
    url('../imgs/fundo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slide {
    /* botão saiba mais */
    margin-bottom: 20px;
}

.one {
    /* texto: "Olá" */
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}

.one:hover{
    /* hover do texto: "Olá" */
    transform: scale(1.1);
    transition: all .45s ease;
}

.two {
    /* texto: eu sou */
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}

.home-foto{
    width: 300px;
}

.home-text h1 {
    /* texto: "Nicholas!" */
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    list-style: 1.1;
    margin: 0 0 8px;
}

.home-text p {
    /* texto: "Técnico formado..." */
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}

.button {
    /* botões Diga Olá! e Veja Meu Trabalho! */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    /* estilo botão Diga Olá */
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
    text-align: center;
    text-transform: uppercase;
}

.btn:hover {
    /* botão Diga Olá! */
    transform: scale(0.9);
}

.btn2 {
    /* estilo botão Veja meu Trabalho */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 35px;
}

.btn2 span i {
    /* icone do botão Veja meu Trabalho */
    height: 55px;
    width: 55px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}

.btn2 span i:hover {
    /* hover do icone do botao veja meu trabalho */
    transform: scale(1.1) translateY(5px);
}

header.sticky {
    /* estilo do header quando o usuario desce a pagina e mudar de bg-color */
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.sobre {
    /* estilo section sobre */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--second-bg-color);
}

.sobre-img img {
    /* estilo da imagem da section sobre */
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.sobre-texto h2 {
    /* estilo h2 da section sobre */
    font-size: var(--h2-font);
    line-height: 1;
}

.sobre-texto h4 {
    /* estilo h4 da section sobre*/
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.sobre-texto p {
    /* estilo p da section sobre */
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}

.servicos {
    /* estilo section serviços */
    background: var(--bg-color);
}

.main-texto {
    /* texto da section servicos */ 
    text-align: center;
}

.main-texto p {
    /* p da section servicos */ 
    font-size: 15px;
    color: var(--second-color);
    margin-bottom: 15px;
}

.main-texto h2 {
    /* h2 da section servicos */ 
    font-size: var(--h2-font);
    line-height: 1;
}

.servicos-conteudo {
    /* estilo da div */ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    text-align: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box {
    /* estilo da div */ 
    background: var(--second-bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}

.s-icons i {
    /* estilo da div */ 
    font-size: 32px;
    margin-bottom: 20px;
}

.box h3 {
    /* estilo do h3 da div */ 
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.box p {
    /* estilo do p da div */ 
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}

.saiba {
    /* estilo do botao da div da section servicos */ 
    display: inline-block;
    padding: 8px 18px;
    background: #333333;
    color: var(--second-color);
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45s ease;
}

.saiba:hover {
    /* hover do botao da div da section servicos */ 
    letter-spacing: 1px;
    background: var(--main-color);
    color: var(--text-color);
    transition: all .55s ease;
}

.s-icons:hover {
    /* hover do icone da div da section serviços  */ 
    color: var(--main-color);
    transition: all .45s ease;
}

.box:hover {
    /* hover da box da section servicos */
    transform: translateY(-8px);
    cursor: pointer;
}

#portfolio{
    background-color: var(--second-bg-color);
}

.portfolio-content {
    /* estilo da section portfolio */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.row {
    /* estilo da div */
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    /* estilo da img dentro da div */
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    /* estilo da div dos textos */
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #000);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    /* estilo do h5 da div */
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    /* estilo do p da div */
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    /* estilo do icone da div */
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#link-icon:hover {
    /* hover icone da section portfolio */
    color: var(--text-color);
    background-color: var(--main-color);
    transition: all .90s ease;
}

.row:hover img {
    /* hover da img dentro da row */
    transform: scale(1.1);
}

.row:hover .layer {
    /* hover da layer dentro da row */
    height: 100%;
}

.contact {
    /* estilo da section contato */
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h4 {
    /* estilo do h4 da section contato */
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2{
    /* estilo do h2 da section contato */
    font-size: var(--h2-font);
    line-height: 1;
}

.contact-text p {
    /* estilo do p da section contato */
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}

.list {
    /* estilo do list da section contato */
    margin-bottom: 2.8rem;
}

.list li {
    /* estilo do li da section contato */
    margin-bottom: 12px;
}

.list li a {
    /* estilo do a dentro da li da section contato */
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
}

.list li a:hover {
    /* hover do a dentro da li da section contato */
    color: var(--text-color);
    transform: translateX(5px);
}

.contact-icons i { 
    /* estilo dos icones da section contato */
    height: 45px;
    width: 45px;
    color: var(--text-color);
    font-size: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i:hover {
    /* hover dos icones da section contato */
    transition: all .5s ease;
    transform: translateY(-10px);
}

.contact-form form {
    /* estilo form da section contato */
    position: relative;
}

.contact-form form input,
form textarea {
    /* estilo do form, input, e textarea form da section contato */
    width: 100%;
    padding: 14px;
    background: var(--second-bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
}

.contact-form textarea {
    /* estilo do textarea da section contato */
    resize: none;
    height: 240px;
    margin-bottom: 1rem;
}

.contact-form .submit {
    /* estilo do botao enviar da section contato */
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    transition: all .45s ease;
}

.contact-form .submit:hover {
    /* hover do botao enviar da section contato */
    transform: scale(0.95);
    cursor: pointer;
}

/* CSS RESPONSIVO */
@media (max-width: 1480px) { /* tela até 1480px */
    header {
        /* estilo do header */
        padding: 12px 2.5%;
        transition: .1s;
    }

    header.sticky {
        /* estilo do header quando muda de classe ao scrollar */
        padding: 10px;
    }

    section {
        /* estilo das sections padrao */
        padding: 110px 3% 60px;
    }

    .end {
        /* estilo da section end (Footer) */
        padding: 15px 3%;
    }
}

@media (max-width: 1100px) { /* tela até 1100px */
    :root {
        /* declarando variaveis novamente */
        /* para mudar os valores e se adequar à tela */
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }

    .home-text h3 {
        /* estilo do h3 da section home */
        font-size: 2.5rem;
    }

    .home {
        /* estilo da section home */
        height: 105vh;
    }
}

@media (max-width: 920px) { /* tela até 920px */
    .sobre {
        /* estilo da section sobre */
        grid-template-columns: 1fr;
    }

    .sobre-img {
        /* estilo da img da section sobre */
        text-align: center;
        order: 2;
    }

    .sobre-img img {
        /* estilo da img da section sobre */
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .contact {
        /* estilo da section contato */
        grid-template-columns: 1fr;
    }
}

@media (max-width: 840px) { /* tela até 840px */
    #menu-icon {
        /* estilo do menu hamburguer */
        /* sai do display none e mostra o menu */
        display: block;
    }

    .navlist {
        /* estilo da navlist - links header */
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }

    .navlist a {
        /* estilo dos links da navlist */
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }

    .navlist a:hover {
        /* hover dos links da navlist */
        color: var(--main-color);
    }

    .navlist a:active {
        /* links da navlist quando ativados */
        color: var(--text-color);
    }

    .navlist.open {
        /* links da navlist quando abertos*/
        top: 100%;
    }

    .portfolio-content {
        /* estilo da section portfolio */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
}

@media (max-width: 500px){ /* tela até 500px */
    .layer i{
        /* estilo do icone com link da section portfolio */
        width: 50px;
        height: 50px;
    }

    .layer h5{
        /* estilo do h5 da section portfolio */
        font-size: 1rem;
    }

    .layer p{
        /* estilo do p da section portfolio */
        font-size: 0.8rem;
    }
}

@media (max-width: 360px){ /* tela até 360px */
    .row img{
        /* estilo do img da section portfolio */
        width: 100%;
        height: 12rem;
        margin-right: 0.5rem;
    }

    .layer{
        /* estilo da layer da section portfolio */
        width: 100%;
    }

    .row:hover img {
        /* hover da img da section portfolio */
        transform: scale(1);
    }

    .portfolio-content {
        /* estilo da section portfolio */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .home-text p{
        /* estilo do p da section home */
        padding-right: 0.1rem;
        text-align: center;
    }

    .home-text h1{
        /* estilo do h1 da section home */
        font-size: 3rem;
        text-align: center;
    }

    .home-text h3{
        /* estilo do h3 da section home */
        font-size: x-large;
        text-align: center;
    }

    .button{
        /* estilo botao da div dos textos da home: Diga ola e veja meus trabalhos */
        padding: 0.1rem;
    }

    .slide{
        /* estilo dos textos olá eu sou */
        text-align: center;
    }

    .layer{
        /* estilo dos textos da layer da section portfolio */
        font-size: small;
    }

    .layer i{
        /* estilo dos links da layer da section portfolio */
        width: 45px;
        height: 45px;
    }

    .layer h5{
        /* estilo do h5 da layer da section portfolio */
        font-size: 1rem;
    }

    .layer p{
        /* estilo do p da layer da section portfolio */
        font-size: 0.8rem;
    }
}
