    .sobre {
    /* estilo section sobre */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--second-bg-color);
}

.sobre-img img {
    /* estilo da imagem da section sobre */
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.sobre-texto h2 {
    /* estilo h2 da section sobre */
    font-size: var(--h2-font);
    line-height: 1;
}

.sobre-texto h4 {
    /* estilo h4 da section sobre*/
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.sobre-texto p {
    /* estilo p da section sobre */
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}

.servicos {
    /* estilo section serviços */
    background: var(--bg-color);
}

.main-texto {
    /* texto da section servicos */
    text-align: center;
}

.main-texto p {
    /* p da section servicos */
    font-size: 1.2rem;
    color: var(--second-color);
    margin-bottom: 15px;
}

.main-texto h2 {
    /* h2 da section servicos */
    font-size: var(--h2-font);
    line-height: 1;
}

.servicos-conteudo {
    /* estilo da div */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    text-align: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box {
    /* estilo da div */
    background: var(--second-bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}

.s-icons i {
    /* estilo da div */
    font-size: 32px;
    margin-bottom: 20px;
}

.box h3 {
    /* estilo do h3 da div */
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.box p {
    /* estilo do p da div */
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}

.saiba {
    /* estilo do botao da div da section servicos */
    display: inline-block;
    padding: 8px 18px;
    background: #333333;
    color: var(--second-color);
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45s ease;
}

.saiba:hover {
    /* hover do botao da div da section servicos */
    letter-spacing: 1px;
    background: var(--main-color);
    color: var(--text-color);
    transition: all .55s ease;
}

.s-icons:hover {
    /* hover do icone da div da section serviços  */
    color: var(--main-color);
    transition: all .45s ease;
}

.box:hover {
    /* hover da box da section servicos */
    transform: translateY(-8px);
    cursor: pointer;
}

#portfolio {
    background-color: var(--second-bg-color);
}

.portfolio-content {
    /* estilo da section portfolio */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.row {
    /* estilo da div */
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    /* estilo da img dentro da div */
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    /* estilo da div dos textos */
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #000);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    /* estilo do h5 da div */
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    /* estilo do p da div */
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    /* estilo do icone da div */
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.link-icon:hover {
    /* hover icone da section portfolio */
    transform: scale(1.5);
    background-color: transparent;
    transition: all .90s ease;
}

.row:hover img {
    /* hover da img dentro da row */
    transform: scale(1.1);
}

.row:hover .layer {
    /* hover da layer dentro da row */
    height: 100%;
}

.contact {
    /* estilo da section contato */
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h2 {
    /* estilo do h2 da section contato */
    font-size: var(--h2-font);
    line-height: 1;
}

.contact-text h4 {
    /* estilo do h4 da section contato */
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1.5rem;
}

.contact-text p {
    /* estilo do p da section contato */
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 2rem;
}

.list {
    /* estilo do list da section contato */
    margin-bottom: 2.8rem;
    margin-top: 2rem;
}

.list li {
    /* estilo do li da section contato */
    margin-bottom: 12px;
}

.list li a {
    /* estilo do a dentro da li da section contato */
    display: block;
    color: var(--second-color);
    font-size: 1rem;
    transition: all .45s ease;
}

.list li a:hover {
    /* hover do a dentro da li da section contato */
    color: var(--text-color);
    transform: translateX(5px);
}

.contact-icons i {
    /* estilo dos icones da section contato */
    height: 45px;
    width: 45px;
    color: var(--text-color);
    font-size: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i:hover {
    /* hover dos icones da section contato */
    transition: all .5s ease;
    transform: translateY(-10px);
    color: var(--main-color);
}

.contact-form form {
    /* estilo form da section contato */
    position: relative;
}

.contact-form form input,
form textarea {
    /* estilo do form, input, e textarea form da section contato */
    width: 100%;
    padding: 14px;
    background: var(--second-bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
}

.contact-form textarea {
    /* estilo do textarea da section contato */
    resize: none;
    height: 240px;
    margin-bottom: 1rem;
}

.contact-form .submit {
    /* estilo do botao enviar da section contato */
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    transition: all .45s ease;
}

.contact-form .submit:hover {
    /* hover do botao enviar da section contato */
    transform: scale(0.95);
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}